@media(min-width:1440px) {
  header {
    max-width: 100%;
    padding: 36px 162px 152px 162px;
  }

  .header-box {
    position: relative;
  }

  .line {
    display: none;
  }

  .mode {
    width: 141px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .cont {
    max-width: 100%;
    top: 137px;

  }

  main {
    width: 1116px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
  }

  section {
    width: 1116px;

  }

  article {
    grid-template-columns: repeat(4, 1fr);
  }

  a:hover {
    transform: scale(1.1);
  }

  .lang {
    right: -50px;
  }
}